/* Normalize.css
----------------------------------------------- */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
	display: block;
}
audio,
canvas,
video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
audio:not([controls]) {
	display: none;
	height: 0;
}
[hidden] {
	display: none;
}
html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
	font-family: sans-serif;
}
body {
	margin: 0;
}
a:focus {
	outline: thin dotted;
}
a:active,
a:hover {
	outline: 0;
}
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}
h2 {
	font-size: 1.5em;
	margin: 0.83em 0;
}
h3 {
	font-size: 1.17em;
	margin: 1em 0;
}
h4 {
	font-size: 1em;
	margin: 1.33em 0;
}
h5 {
	font-size: 0.83em;
	margin: 1.67em 0;
}
h6 {
	font-size: 0.75em;
	margin: 2.33em 0;
}
abbr[title] {
	border-bottom: 1px dotted;
}
b,
strong {
	font-weight: bold;
}
blockquote {
	margin: 1em 40px;
}
dfn {
	font-style: italic;
}
mark {
	background: #ff0;
	color: #000;
}
p,
pre {
	margin: 1em 0;
}
code,
kbd,
pre,
samp {
	font-family: monospace, serif;
	_font-family: "courier new", monospace;
	font-size: 1em;
}
pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}
q {
	quotes: none;
}
q:before,
q:after {
	content: "";
	content: none;
}
small {
	font-size: 75%;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
dl,
menu,
ol,
ul {
	margin: 1em 0;
}
dd {
	margin: 0 0 0 40px;
}
menu,
ol,
ul {
	padding: 0 0 0 40px;
}
nav ul,
nav ol {
	list-style: none;
	list-style-image: none;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}
svg:not(:root) {
	overflow: hidden;
}
figure {
	margin: 0;
}
form {
	margin: 0;
}
fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}
legend {
	border: 0;
	padding: 0;
	white-space: normal;
	*margin-left: -7px;
}
button,
input,
select,
textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle;
}
button,
input {
	line-height: normal;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
	*overflow: visible;
}
button[disabled],
input[disabled] {
	cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
	*height: 13px;
	*width: 13px;
}
input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
textarea {
	overflow: auto;
	vertical-align: top;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Variables globales*/
:root {
	--violeta-strong: #42009e;
	--violeta: #7929e8;
	--violeta-medium: #a670f0;
	--violeta-light: #f1ecf8;
}

body {
	height: 100vh;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.container {
	background-color: var(--violeta-light);
	width: 100%;
	height: 100%;
	display: flex;
	align-content: center;
	align-items: center;
	flex-direction: column;
}

.container .card {
	background-color: white;
	width: 60%;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
	border-radius: 14px;
	margin-bottom: 20px;
}

.container .error-message {
	color: red;
}

.btn {
	height: 40px;
	width: 107px;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
	padding: 8px 16px;
	border-radius: 30px;
	border: none;
}

.btn-violeta {
	background: var(--violeta);
	color: white;
}
.btn-rojo {
	background: rgb(250, 109, 109);
	color: white;
}
.btn-azul {
	background: rgb(109, 109, 250);
	color: white;
}
.btn-print {
	background: transparent;
	color: white;
}
.btn-print {
	background: transparent;
	color: white;
	border:none
}
.btn-print:hover{
	transform: scale(1.05,1.05);
}
.btn-largo {
	width: 280px;
}
.btn-largo-medio {
	width: 220px;
}
.btn-listado {
	height: 35px;
	width: 90px;
	font-size: 16px;
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: center;
	padding: 4px 8px;
	border-radius: 30px;
	border: none;
	margin: 2px;
}

.derecha {
	margin-top: 10px;
	width: 80%;
	text-align: right;
}

input[type="text"],
input[type="password"]
input[type="number"] {
	width: 256px;
	height: 28px;
	border-radius: 4px;
}

input[type="date"] {
	width: 150px;
	height: 28px;
	border-radius: 4px;
}

.input-white {
	background: #ffffff;
	border: none;
	width: 256px;
	height: 28px;
	border-radius: 4px;
}

.input-bordered {
	border: 1px solid var(--violeta);
}

.select {
	width: 128px;
	height: 32px;
	border-radius: 4px;
}

.filters {
	padding: 10px
}

.title {
	text-align: center;
}

.img-index {
	width: 100%;
	height: 60%;
	margin-left: auto;
	margin-right: auto;
}

th {
	padding: 20px 15px 20px 15px
}

.detalle-consulta {
	font-size: 23px;
	padding: 20px;
}

.contenedor-imprimir {
	padding: 30px 30px 0px 0px;
	text-align: right;
}

.contenedor-centro {
	text-align: center;
	margin-bottom: 20px;
}

.contador-pasos {
	margin: 0px 0px 10px 0px;
	font-size: 14px;
}

.label-check {
	border: 3px solid var(--violeta-light);
	font-size: 16px;
	text-align: center;
	padding-top: 10px;
	top: 5px;
	width: 350px;
	height: 30px;
	background-color: var(--violeta-light);
	border-radius: 30px;
	margin: 10px;
}

li {
	margin-bottom: 5px;
}

/*#region Iconos*/
span.check-icon{    
	width: 100px;
	height: 100px;
	background: url("icon/check.svg") no-repeat ;
	display: inline-block;

}
span.cross-icon{
	width: 100px;
	height: 100px;
	background: url("icon/cross.svg") no-repeat;
	display: inline-block;
}  
span.print{
	width: 25px;
	height: 25px;
	background: url("icon/print.svg") no-repeat;
	display: inline-block;
}

.icon-entrar {
	background: url("icon/arrow-left.svg") no-repeat;
	float: right;
	margin-top: 2px;
	width: 20px;
	height: 20px;
}

.card2 {
	height: 100%;
}
/*#endregion*/

@media (max-width: 720px) {
	.container .card {
		background-color: white;
		width: 100%;
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
		border-radius: 14px;
	}
}
